html
{
	height: 100%;

}

body
{
	background-color: beige;
	height: 100%;

}

/*boomBox*/
img
{
	margin-left: 32%;
}
/*buttons*/

#buttonDiv
{
	height: 50%;
	margin-left: 30%;
}

#buttonDiv img
{
	margin: 0;
	width: 10%;
    height: auto;
    display: inline;
    float:left;
    padding-left: 3%;
	

}

#playButton
{
	width: 25%;
	height: 25%;
}

/*images buttons*/




#boomBoxDiv
{

	background: url("https://thumbs.gfycat.com/PerkyRealFrilledlizard-size_restricted.gif");
	background-repeat: no-repeat;
	background-size: auto;
	background-attachment: fixed;
	display: block;
}
